.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.number {
  font-size: 80px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.counter-button {
  align-items: center;
  background-color: #f88;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 50px;
  height: 100px;
  justify-content: center;
  margin: 8px;
  transition: .2s all;
  width: 100px;
}

.counter-button:hover {
  transform: translateY(4px);
}

.blue {
  background-color: #6af;
}